.header {
  text-align: right;
  padding: 1rem;
  background-color: var(--main-primary);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 4rem;
  z-index: 999;
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--dark);
  border-radius: 6px;
  z-index: 99999;
}

.userName {
  display: inline-block;
  color: var(--white);
  margin-right: 16px;
}
