.header {
  position: absolute;
  text-align: right;
  top: 8px;
  right: 8px;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--main-primary);
  display: flex;
  align-items: start;
  z-index: 1;
}

.userName {
  display: inline-block;
  color: var(--white);
  margin-right: 16px;
}
