.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.textarea {
  width: 100%;
  background-color: #fff7ee;
  color: #353026;
  border-radius: 8px;
  padding: 8px 16px;
  box-sizing: border-box;
}

.submit {
  background-color: #9c944e;
  border: none;
  border-radius: 6px;
  padding: 8px 40px;
  margin-left: 16px;
  cursor: pointer;
}
