.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 16px;
}

.textarea {
  width: 100%;
  background-color: var(--white);
  color: #353026;
  border-radius: 8px;
  padding: 12px 16px;
  box-sizing: border-box;
  margin-right: 16px;
  line-height: 20px;
  min-height: 80px;
}
