.wrapper,
.drafWrapper {
  background-color: var(--white);
  border-radius: 8px;
  padding: 16px 32px 80px 32px;
  overflow-y: auto;
  width: 100%;
}

.wrapper {
  text-align: center;
}

.logo {
  margin: 80px auto 40px auto;
}

.title {
  font-size: 24px;
  line-height: 26px;
  color: var(--variant-tertiary);
  max-width: 70%;
  margin: 32px auto;
  font-style: italic;
}

.text {
  font-size: 13px;
  line-height: 16px;
  color: var(--main-primary);
  max-width: 420px;
  margin: 12px auto;
}
