:root {
  --verde-oliva-escuro: #454633;
  --verde-oliva-claro: #9c944e;
  --verde-oliva: #40591b;
  --marrom-carvao: #353026;
  --marrom-siena: #723a1e;
  --laranja-queimado: #aa6735;
  --laranja: #e58200;
  --marfim: #fff7ee;

  --main-primary: var(--verde-oliva-escuro);
  --main-secondary: var(--verde-oliva-claro);
  --main-tertiary: var(--verde-oliva);

  --variant-primary: var(--marrom-siena);
  --variant-secondary: var(--laranja-queimado);
  --variant-tertiary: var(--laranja);

  --dark: var(--marrom-carvao);
  --white: var(--marfim);

  --background: var(--white);
  --foreground: var(--main-tertiary);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: var(--white);
  background-color: var(--main-secondary);
  border: none;
  border-radius: 6px;
  padding: 8px 40px;
  cursor: pointer;
}

button:hover {
  background-color: var(--main-primary);
}

textarea:disabled,
button:disabled {
  cursor: progress;
  opacity: 0.3;
}

strong {
  font-weight: bolder;
}

.markdown {
  text-align: justify;
}

.markdown h1 {
  line-height: 2em;
}

.markdown h2 {
  line-height: 1.5em;
}

.markdown p {
  margin-bottom: 8px;
}

.markdown :where(ul, ol) {
  margin: 8px 0 16px 16px;
}

.markdown :where(ul, ol) li {
  margin-bottom: 8px;
}
